
<footer>
    <div class="footer-container">
        <div class="footer-info">
            <p>&copy; 2024 Thanos The Mad Titan. Half of All Life Reserved.</p>
            <p><a href="/api/documentation">API Documentation</a></p>
        </div>
        <div class="footer-contact">
            <p>Email: <a href="mailto:jegrami.dev@gmail.com">jegrami.dev@gmail.com</a></p>
        </div>
        <div class="footer-social">
            <a href="https://www.linkedin.com/in/jeremiah-igrami"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/je_grami"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/jegrami"><i class="fab fa-github"></i></a>
        </div>
    </div>
</footer>